@import '../../../assets/styles/variables';

.header {
  padding-top: 6px;
  padding-bottom: 24px;
  box-shadow: 0 4px 16px rgba(1, 28, 64, 0.2);

  .header--inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header--logo {
  width: 156px;
  height: 62px;
  display: block;
}

.header--menu {
  display: flex;
  font-size: 25px;
  list-style: none;
  li {
    &:not(:first-child) {
      margin-left: 70px;
    }
  }
  a {
    color: $dark;
    text-decoration: none;
    padding: 16px 0;
    &:hover,
    &.--active {
      border-bottom: 3px solid $dark;
    }
  }
}
