@import '../../../assets/styles/variables';

.a-button {
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 11px;
  outline: none;

  color: $dark;

  &.button--full-width {
    width: 100%;
  }

  &.button--small {
    height: 16px;
    font-size: 12px;
    line-height: 14px;

    padding: 0 20px 2px;
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.18);

    &:active {
      box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.18);
      padding-bottom: 1px;
    }
  }

  &.button--medium {
    height: 66px;
    font-size: 23px;
    line-height: 27px;
    padding: 0 20px 9px;
    box-shadow: inset 0 -9px 0 rgba(0, 0, 0, 0.18);

    &:active {
      box-shadow: inset 0 -6px 0 rgba(0, 0, 0, 0.18);
      padding-bottom: 6px;
    }
  }

  &.button--green {
    background: $green;
  }

  &.button--yellow {
    background: $third;
  }
}
